* {
  margin: 0;
  padding: 0;
}
 
/*==Style cơ bản cho website==*/
body {
  font-family: raleway,helvetica neue,Helvetica,Arial,sans-serif;
  color: #333;
}
li{list-style: none;}
a{font: 13px releway;}
#menu{
   width: 1349px;
	height: 77px;
}
#menu .topic {
    display: flex;
   justify-content: flex-end;
}
#menu  .title span{
   font: 24px releway;
   color: #666;
   line-height: 52px; 
   margin-left: 110px;
}
#menu ul{
   margin-right: 150px;
   margin-top: 11px; 
}
#menu ul li a{
   color: #4C4C4C;
}
#menu ul li {
   float: left;
   height: 55px;
   line-height: 55px;
   position: relative;
   padding: 0px 10px 0px 10px;
}
#menu ul li a{
	display: block;
	text-decoration: none; 
   height: 55px;
   line-height: 55px;
}
#menu ul li .sub_menu{
   display: none; /*ẩn đi phần từ đầu tiên*/
   position: absolute;
   width: 250px;
 
}
#menu ul li:hover .sub_menu{
   display: block;
}
#menu ul li .sub_menu_level{
   display: none; /*ẩn đi phần từ đầu tiên*/
   position: absolute;
   
}
#menu ul li:hover .sub_menu_level{
   display: block;
}
#menu ul li .sub_menu_shop{
   display: none; /*ẩn đi phần từ đầu tiên*/
   position: absolute;
 
}
#menu ul li:hover .sub_menu_shop{
   display: block;
}
#banner{
   width: 1349px;
   height: 600px;
   background-image: url("layout/image/images.jpg");
   background-repeat: no-repeat;
}

}
#banner .banner_top{
   width: 100%;
   height: 600px;
   display: flex;
   align-items: center;
   justify-content: center;
}
#banner .banner_center p{
   width: 100%;
   height: 20%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#banner  .banner_top h1{
   width: 100%;
   height: 300px;
   font: 60px releway;
   line-height: 128px;
   display: flex;
   align-items: center;
   justify-content: center;
}
#banner .banner_bottom{
   width: 100%;
   height: 40%;
   display: flex;
   align-items: center;
   justify-content: center;
}
#banner .banner_bottom a{
   font: 12px releway;
   text-decoration: none;
   border: 2px solid #745cf9;
   color: #fff;
}
#banner .banner_bottom .bottomtow{
   padding: 20px 45px 20px 45px;
   border-color: #FFFFFF;
}

#banner .banner_bottom .bottomone{
   background: #745cf9;
   border-color: #745cf9;
   padding: 20px 60px 20px 60px;
}
#banner .banner_bottom .bottomtow:hover{
   background: white;
   color: black;
}
#banner .banner_bottom .bottomone:hover{
   background: #337ab7;
}
#content {
   width: 1349px;
   height: 645px;
   background: #f1f1f1;
}
#content .content_left{
   width: 683px;
   height: 645px;
   float: left;
   position: relative;
}
#content .content_right{
   width: 666px;
   height: 645px;
   float: left;
   position: relative;
}
#content .content_left img{
   position: absolute;
   top:50%;
   transform: translateY(-50%);
}
#content .content_right h3{
   font: 30px releway;
   color: #0e1015;
   line-height: 33px;
   margin-bottom: 24px;
}
#content .content_right p{
   font: 14px releway;
   color: #8C979E;
   width:360px; 
   height:144px;
   line-height: 24px;
   margin-bottom: 24px;
}
#content .content_right a{
   background: #745cf9;
   color: #FFFFFF;
   padding: 20px 60px 20px 60px;
   font: 12px releway;
   text-decoration: none;
}
#content .content_right .content_right_child{
   position: absolute;
   top:40%;
   transform: translateY(-40%);
   margin-left: 97px;
}
#content .content_right a:hover{
   background: #337ab7;
}
#section {
   width: 1349px;
   height: 645px;
   display: flex;
   justify-content: center;   
}
#section .section_left{
   width: 599px;
   height:645px;
   position: relative;
}
#section .section_left_child{
   top:50%;
   position: absolute;
   transform: translateY(-50%);
   margin-left: 70px;
}
#section .section_left h3{
   font: 30px releway;
   color: #0E1015;
   width: 360px;
   height: 33px;
   margin-bottom: 24px;
}
#section .section_left p{
   color: #8C979E;
   font: 14px releway;
   line-height: 24px;
   margin-bottom: 40px;
   width: 360px;
   height: 96px;
}
#section .section_left a{
   color: #FFFFFF;
   font: 12px releway;
   background: #745CF9;
   text-decoration: none;
   padding: 20px 46px 20px 46px;
}
#section .section_right{
   
   width: 750px;
   height: 645px;
   position: relative;
}
#section .section_right img{
   top:50%;
   position: absolute;
   transform: translateY(-50%);
}
#boder{
   background-image: url("layout/image/images.jpg");
   width: 1349px;
   height: 438px;
   position: relative;
}
#boder .boder_center{
   display: flex;
   align-items: center;
   flex-direction: column;
   position: absolute;
   top:50%;
   transform: translateY(-50%);
   margin-left: 230px;
}
#boder h1{ 
   width: 889px;
   height: 64px;
   color: #FFFFFF;
   font: 60px releway;
   margin: 0px 0px 24px;
   text-align: center;
   line-height: 64px;
}
#boder p{
   width: 889px;
   height: 48px;
   text-align: center;
   color: #FFFFFF;
   font: 14px releway;
   margin-bottom: 30px;
}
#boder a{
   color: #FFFFFF;
   font: 12px releway;
   background: #745CF9;
   text-decoration: none;
   padding: 20px 62px 20px 62px;
}
#boder a:hover{
    background: #337ab7;
}
#secondary{
   width: 1349px;
   height: 320px;
   position: relative;
   float: left;
}


#secondary .secondary_center{
   display: flex;
   align-items: center;
   flex-direction: column;
   position: absolute;
   top:50%;
   transform: translateY(-50%);
   margin-left: 230px;
}
#secondary .secondary_center h3{ 
   width: 889px;
   height: 64px;
   color: #8C979E;
   font: 30px releway;
   margin: 0px 0px 24px;
   text-align: center;
   line-height: 64px;
}
#secondary .secondary_center p{
   width: 889px;
   height: 48px;
   text-align: center;
   color: #8C979E;
   font: 14px releway;
   margin-bottom: 30px;
}
#secondary .secondary_center a{
   color: #FFFFFF;
   font: 12px releway;
   background: #745CF9;
   text-decoration: none;
   padding: 20px 62px 20px 62px;
}
 #secondary .secondary_center a:hover{
    background: #337ab7;
}
#secondary_center_image{
   width: 1200px;
   height:853px;
   float: left;
   margin-left: 75px;

}
#section_project {
   float: left;
   width: 1349px;
   height: 200px;
   background: black;
   position: relative;
}
#section_project .section_project_center{
   display: flex;
   align-items: center;
   flex-direction: column;
   position: absolute;
   top:50%;
   transform: translateY(-50%);
   margin-left: 120px;
}
#section_project .section_project_center h3{
   width: 1110px;
   height: 33px;
   font: 30px releway;
   text-align: center;
   color: #FFFFFF;
}
#section_project  .section_project_center p{
   width: 1110px;
   height: 24px;
   font: 14px releway;
   text-align: center;
   color: #FFFFFF;
}
/*#section_project .project15{
   text-decoration: none;
   position: absolute;
   font: 30px releway;
   margin-top: 105px;
   margin-left: 100px;
   color: #FFFFFF;
   display: none;
}
#section_project .project15:hover{
   display: block;
}*/
#image_project{
   width: 1349px;
   height: 735px;
   display: flex;
   flex-wrap: wrap;
   position: relative;
}
#slider {
   position: relative;
   width: 1349px;
   height: 467px;
   background-image: url(layout/image/images.jpg);
}
#slider .slider_one{
   position: absolute;
   display: flex;
   align-items: center;
   flex-direction: column;
   transform: translateY(-50%);
   top:50%;
   margin-left: 300px;
}
#slider .slider_one h3{
   width: 750px;
   height: 57px;
   text-align: center;
   font: 30px releway;
}
#slider .slider_one p{
   text-align: center;
   width: 750px;
   height: 72px;
   font: 18px releway;
}
#slider .slider_one img {
   border-radius: 50%;
}
#slider .slider_one .name{
   font: 14px releway;
   color: #FFFFFF;
   text-align: center;
   margin-top: 20px;
}
/*
#slider .slide_tow{
   display: none;
}
#slider   .slide_tow h3{
   text-align: center;
   margin-top: 70px;
   font: 30px releway;
}
#slider .slide_tow p{
   text-align: center;
   margin-top: 60px;
   width: 750px;
   height: 72px;
   margin-left: 300px;
   font: 18px releway;}
#slider .slide_tow img {
   border-radius: 50%;
   margin-left: 624px;
}
#slider .slide_tow .name{
   font: 14px releway;
   color: #FFFFFF;
   text-align: center;
   margin-top: 20px;
}*/
#slider #prev{
   top:179px;
   left: 150px;
   position: absolute;
}
#slider #next{
   top:179px;
   right: 150px;
   position: absolute;
}
#thispc {
   width: 1349px;
   height: 349px;
   float: left;
}
#thispc .center h3{
   text-align: center;
   margin-top: 90px;
}
#thispc .slide{
   float: left;
}
#thispc .slide li{
   width: 292px;
   height: 60px;
   float: left;
   padding-left: 116px;
   margin-left: 20px;
   margin-top: 50px;
}
#footer{
   width: 1349px;
   height: 246px;
   float: left;
   display: flex;
   flex-wrap: wrap;
   background: #F5F5F5;
}
#footer h3{
   padding:96px;
   font: 30px releway
   width:847px;
   height: 45px;
   margin-left: 130px;
}
#footer a{
   margin-left: 130px;
   font: 12px releway;
   padding:   20px 65px 20px 65px;
   text-align: center;
   margin-top:100px;
   float: left;
   background: #745CF9;
   text-decoration: none;
   color: #FFFFFF;
}
#footer a:hover{
   background: #337ab7;
}
#end{
   width: 1349px;
   height: 183px;
   float: left;
   background: black;
   display: flex;
   flex-wrap: wrap;
}
#end .text{
   font: 18px releway;
   color: #FFFFFF;
   padding-top: 72px;
   width: 550px;
   text-align: center;
}  
#end .text a{
   color: #FFFFFF;
   font: 18px releway;
   text-decoration: none;
}
#end a:hover{
   color: #745cf9;
}
#end .icon  {
   width: 599px;
}

#end .icon ul{
   display: flex;
   justify-content: flex-end;
}
#end .icon li{
   width: 28px;
   height: 24px;
   float: left;
   display: flex;
   justify-content: flex-end;
   margin-top: 80px;
   padding: 0px 20px 0px 20px;

}