<!DOCTYPE html>
<html>
<head>
	<title>Layout1</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="index.js"></script> 
</head>
<body>
	<div id="menu_top">
		<ul>
			<li><a href="#" class="active">Trang chủ</li>
			<li><a href="#" >Giới thiệu</li>
			<li><a href="#" title="Tin tức">Tin tức</li>
			<li><a href="#" title="Sản phẩm">Sản phẩm</li>
			<li><a href="#" title="Khuyến mại">Khuyến mại</li>
			<li><a href="#" title="Dịch vụ">Dịch vụ</li>
			<li><a href="#" title="Liên hệ">Liên hệ</li>

		</ul>
	</div>
	<div id="banner">
		<img src="image/banner.png">
	</div>
	<div id="main">
		<div id=index.js
		<div id="right">Right</div>
	</div>
	<div id="footer">Footer</div>
</body>
</html>